@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
main {
  flex-grow: 1;
  padding-top: 11px;
}
#Error404 {
  display: flex;
  justify-content: center;
}
#Error404 img {
  padding-top: 10px;
  width: 97%;
  object-fit: cover;
  display: block;
  margin: auto;
  
}
#copyrightFooter {
  text-align: center;
  color: #e0e0e0;
}
#cuerpoFooter .h5 {
  color: #b7de68;
 text-decoration:underline #416111
}
#cuerpoFooter li a,li{
  text-decoration: none ;
  color: #e0e0e0;
}
#cuerpoFooter ul {
  list-style: none;
}

#navBar-PokeDex{
  background-color: #e0e0e0;
 color: #b7de68;
}
.navbar-brand img{
 padding: 0px;
 margin: 0px;
 height: 12vh;
 border-radius: 42px;
}

#navbarSupportedContent input{
background-color: #ffffff;
height: 8vh;
}
#navbarSupportedContent ul li a {
  color: #416111;
}

.card-img-squirtle {

  width: 100%;
  height: 70vh;
  object-fit: cover;
}

.hoverableSquirtle {
  display: inline-block;
  background: center url('/img/pokemonSquirtle/squirtle.png')
    no-repeat;
  background-size: contain;
}
@media all and (min-width: 769px) {
  .hoverableSquirtle:hover {
    background-image: url('/img/pokemonSquirtle/squirtle.gif');
  }
}



.carousel-inner img {
  width: 100%;
  height: 70vh;
  object-fit: cover;
}
.card-container {
  display: flex;
  justify-content: space-around;
  
}

.colorPlanta {
background-color:rgb(75, 214, 121) ;
}

.colorVeneno {
  background-color: blueviolet;
}

.botonColor {
  cursor: not-allowed;
  pointer-events: none;
  border-radius: 40px;
}

.block{
  display: block
  }

.img-butterfree {
  max-width: 70%;
  margin: 0 auto;
  display: none;
}

.hoverableButterfree {
  display: inline-block;
  background: center url('/img/pokemones/buterflee.png')
    no-repeat;
  background-size: contain;
}
@media all and (min-width: 769px) {
  .hoverableButterfree:hover {
    background-image: url('/img/DetalleButterfree/gifButter.gif');
  }
}
.sinCursorButterfree {
  cursor: not-allowed;
  pointer-events: none;
  
}


.sinCursor {
  cursor: not-allowed;
  pointer-events: none;
  border-radius: 40px;
  margin: 5px 0px;
}

.card-img {
  width: 100%;
  object-fit: cover;
}
.img-charmander {
  max-width: 70%;
  margin: 0 auto;
  display: none;
}
.img-evoluciones {
  max-width: 50%;
  margin: 0 auto;
}
[class*='-heading'] {
  font-size: 4rem;
  text-align: center;
  font-weight: 700;
  color: white;
  margin: 3rem 0;
}

.pokemon-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: top;
  gap: 4rem;
}

.pokemonSkills-grid {
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: top;
  gap: 4rem;
}

.hoverable {
  display: inline-block;
  background: center url('/img/detallesPokemonCharmander/charmander.png')
    no-repeat;
  background-size: contain;
}



@media all and (min-width: 769px) {
  .hoverable:hover {
    background-image: url('/img/detallesPokemonCharmander/lanzallamasCharmander.gif');
  }
}

.imgCardAcercaNosotros img{
  width: 227px;
  height: 272px;
  object-fit: cover;
  display: block;
  margin: auto;
}
#cardQuienesSomos .card {
  border: none;
}
#cardQuienesSomos .card-title{
  color: #e88c68;
}
#cardQuienesSomos .card-text {
text-align: justify;
color: #e0e0e0;
}
@media all and (max-width: 770px) {

  .imgCardAcercaNosotros  img{
    width: 264px;
    height: 255px;
    object-fit: cover;
    display: block;
    margin: auto;
}
}

.hoverableCharizard {
  display: inline-block;
  background: center url('/img/detallesPokemonCharmander/charizardEvolucion.png')
    no-repeat;
  background-size: contain;
}

@media all and (min-width: 769px) {
  .hoverableCharizard:hover {
    background-image: url('/img/Charizard/charizard-gif.gif');
  }
}
@media all and (min-width: 280px) and (max-width: 768px) {
  .carousel-inner img {
    width: 100%;
    height: 49vh;
    object-fit: cover;
  }
  [class*='-heading'] {
    font-size: 4rem;
    text-align: center;
    align-items: center;
    font-weight: 400;
    color: red;
    margin: 3rem 0;
  }
  .pokemon-grid {
    grid-template-columns: repeat(1, 1fr);
  }
  .pokemonSkills-grid {
    grid-template-columns: repeat(1, 1fr);
  }
  .img-charmander {
    max-width: 100%;
    display: block;
  }
  .navbar-brand img {
    padding: 0px;
    margin: 0px;
    height: 8vh;
    border-radius: 42px;
}
#navbarSupportedContent input {
  background-color: #ffffff;
  height: 4vh;
}
}
@media all and (min-width: 770px) and (max-width: 991px){
  .navbar-brand img {
    padding: 0px;
    margin: 0px;
    height: 6vh;
    border-radius: 70px;
}
#navbarSupportedContent input {
  background-color: #ffffff;
  height: 4vh;
}
.carousel-inner img {
  width: 100%;
  height: 32vh;
  object-fit: cover;
}
}
